.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem 0; }
  .login__logo {
    width: 10rem;
    padding: 1.5rem 0; }
  .login__title {
    color: #20b5fc;
    font-size: 2.5rem;
    padding: 1.5rem 0; }
  .login__form {
    display: flex;
    flex-direction: column;
    width: 50%; }
  .login__input {
    margin: 1.5rem 0;
    border: 0;
    padding: 1.5rem;
    font-size: 1.4rem;
    box-shadow: 0 0.3rem 1rem 0 rgba(95, 93, 93, 0.3); }
    .login__input:focus {
      outline: 0; }
    .login__input::placeholder {
      color: #7d8b97; }
  .login__forgot {
    margin-top: 2rem;
    font-size: 1.25rem;
    color: #273d51;
    text-align: center; }
  .login__submit {
    width: 50%;
    margin: 2rem auto;
    color: #20b5fc;
    box-shadow: 0 0.3rem 1rem 0 rgba(95, 93, 93, 0.3);
    background-color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    padding: 1rem 0;
    transition: all 0.2s; }
    .login__submit:hover {
      cursor: pointer;
      box-shadow: 0px 0.5rem 1rem 0 rgba(0, 0, 0, 0.102); }
    .login__submit:active {
      transform: translateY(0.5rem); }
    .login__submit:focus {
      outline: none; }
  .login--link {
    color: #273d51; }
