.listTrade {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .listTrade__tabs {
    display: flex;
    justify-content: center;
    margin: 0 20%; }
    .listTrade__tabs__button {
      cursor: pointer;
      padding: 1rem 0;
      margin-bottom: 4rem;
      color: #000;
      border: none;
      flex: 1;
      font-size: 1.6rem;
      background-color: #fff;
      box-shadow: 0px 3px 10px 0 rgba(108, 108, 108, 0.1); }
      .listTrade__tabs__button--selected {
        border: solid 0.2rem #20b5fc;
        color: #56c0f1; }
  .listTrade__badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem; }
    .listTrade__badge__entry {
      display: flex;
      align-items: center;
      margin: 1.5rem 20%;
      justify-content: space-between; }
      .listTrade__badge__entry__avatar {
        height: 5rem;
        border-radius: 50%; }
      .listTrade__badge__entry__reputation {
        color: #29ce41; }
      .listTrade__badge__entry__name {
        text-decoration: none;
        color: inherit; }
        .listTrade__badge__entry__name:hover {
          text-decoration: underline; }
        .listTrade__badge__entry__name:visited {
          color: inherit; }
      .listTrade__badge__entry__typeOfTrade {
        text-decoration: underline; }
      .listTrade__badge__entry__currencyToTrade {
        color: #20b5fc; }
      .listTrade__badge__entry__action {
        cursor: pointer;
        width: 5rem;
        height: 2rem;
        background-color: var(--white);
        border: none;
        color: #20b5fc;
        transition: all 0.3s; }
        .listTrade__badge__entry__action:hover {
          box-shadow: 0px 0.5rem 1rem 0 rgba(33, 33, 33, 0.102); }
        .listTrade__badge__entry__action:focus {
          outline: none; }
        .listTrade__badge__entry__action:active {
          transform: translateY(0.5rem); }
