.listTrade {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__tabs {
    display: flex;
    justify-content: center;
    margin: 0 20%;
    &__button {
      cursor: pointer;
      padding: 1rem 0;
      margin-bottom: 4rem;
      color: #000;
      border: none;
      flex: 1;
      font-size: 1.6rem;
      background-color: #fff;
      box-shadow: 0px 3px 10px 0 rgba(108, 108, 108, 0.1);

      &--selected {
        border: solid 0.2rem #20b5fc;
        color: #56c0f1;
      }
    }
  }
  &__badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;

    &__entry {
      display: flex;
      align-items: center;
      margin: 1.5rem 20%;
      justify-content: space-between;

      &__avatar {
        height: 5rem;
        border-radius: 50%;
      }

      &__reputation {
        color: #29ce41;
      }

      &__name {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: inherit;
        }
      }

      &__typeOfTrade {
        text-decoration: underline;
      }

      &__currencyToTrade {
        color: #20b5fc;
      }

      &__action {
        cursor: pointer;
        width: 5rem;
        height: 2rem;
        background-color: var(--white);
        border: none;
        color: #20b5fc;
        transition: all 0.3s;

        &:hover {
          box-shadow: 0px 0.5rem 1rem 0 hsla(0, 0%, 13%, 0.102);
        }

        &:focus {
          outline: none;
        }

        &:active {
          transform: translateY(0.5rem);
        }
      }
    }
  }
}
